RewriteEngine On


# ============================================================
# INICIO: SITEMAP
# ============================================================

RewriteRule ^sitemap\.xml$ sitemap.php [L]

# ============================================================
# FIN: SITEMAP
# ============================================================


# ============================================================
# INICIO: ARCHIVOS Y CARPETAS REALES
# ============================================================

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# ============================================================
# FIN: ARCHIVOS Y CARPETAS REALES
# ============================================================


# ============================================================
# INICIO: FRONT CONTROLLER
# ============================================================

RewriteRule ^ index.php [QSA,L]

# ============================================================
# FIN: FRONT CONTROLLER
# ============================================================